<section id="accounts" class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="float-start"><%= t(:account_list) %></h2>
      <div class="float-end">
        <p class="summary">
          <span id="list_count" style="display:none"><%= @account_count %></span>
          <%= raw t(:there_are_n_accounts, count: @account_count) %>
        </p>
      </div>
    </div>
    <div class="col-12">
      <table class="table table-bordered table-hover">
        <colgroup>
          <col style="width:100px">
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <% if can?(:update, Account) or can?(:delete, Account) %>
            <col<%= manage_width(Account) %>>
          <% end %>
        </colgroup>
        <thead class="thead-default">
        <tr>
          <th><%= t(:order_no, scope: [:activerecord, :attributes, :facility]) %></th>
          <th><%= t(:title, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:gender, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:quantity, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:start_no, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:use_not_set, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:price, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:memo, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:manage) %></th>
        </tr>
        </thead>
        <tbody>
        <% unless @accounts.empty? %>
          <% @accounts.each_with_index do |account, index| %>
            <tr>
              <td><%= facility.order_no %></td>
              <td><%= link_to facility.product.title, admin_facility_path(facility) %></td>
              <td class="text-right"><%= facility.gender %></td>
              <td class="text-right"><%= facility.quantity %></td>
              <td class="text-right"><%= facility.start_no %></td>
              <td class="text-right">
              </td>
              <td class="text-right"><%= facility.product.price %></td>
              <td class="text-center">memo</td>
              <% if can?(:update, account) or can?(:delete, account) %>
                <td class="text-center">
                  <% if can? :update, account %>
                    <%= link_to edit_admin_account_path(account), :class => "btn btn-secondary" do %>
                      <%= t(:edit) %>
                    <% end %>
                  <% end %>
                  <% if can? :delete, account %>
                    <%= link_to admin_account_path(account), :method => :delete, :data => { :confirm => t(:delete_cascade_confirm) }, :class => "btn btn-danger" do %>
                      <%= t(:delete) %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="9" class="text-center"><%= t(:no_data) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @accounts %>
    </div>
    <% if can? :create, Account %>
      <div class="col-12">
        <%= link_to t(:add), new_admin_account_path, :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</section>
