<div class="col-12 col-xl-9">
  <%= form_with(model: [:admin, rent], local: true) do |form| %>
    <article class="row">
      <h3 class="col-12"><%= t(:facility_info) %></h3>
      <div class="col-12">
        <div class="card course_info">
          <div class="card-body">
            <div class="form-row">
              <div class="col-12 form-group">
                <%= form.fields_for :orders_products do |op| %>
                  <%= op.label :product_id %>
                  <%= op.select :product_id, options_from_collection_for_select(Facility.joins(:product).select('products.*,facilities.*').where(:enable => true).all, 'product_id', 'title'),{:include_blank => t('select_facility')}, { :class => "form-control" } %>
                <% end  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <div class="form-row">
      <article class="col-12 col-xl-6 col-xxl-5">
        <h3><%= t(:rent_info) %></h3>
        <div class="card">
          <div class="card-body">
            <div class="form-row">
              <div class="col-12 col-lg-6 form-group">
                <%= form.label :no %>
                <%= form.number_field :no, {:class => "form-control",min:1,default:1,max:100 } %>
              </div>
              <div class="col-12 form-group">
                <%= form.label :quantity %>
                <%= form.number_field :quantity, :class => "form-control" %>
              </div>
              <div class="col-12 form-group">
                <%= form.label :start_date %>
                <%= form.date_field :start_date, :class => "form-control" %>
              </div>
              <div class="col-12 form-group">
                <%= form.label :end_date %>
                <%= form.date_field :end_date, :class => "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </article>
      <%= render :partial => 'layouts/form_account',locals: {f: form}  %>
    </div>
    <%= render :partial => 'admin/order_contents/form_content', locals: {f: form} %>
    <div class="col-12 form-submit">
      <%= form.submit :class => 'btn btn-primary btn-block btn-lg' %>
    </div>
  <% end %>
</div>
