<% if params[:popup].present? %>
  <div class="modal-header">
    <h5 class="modal-title"><%= t(:product_content, scope: [:activerecord, :models]) %></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-12">
<% end %>

<div>
  <%= @product_content.content %>
</div>

<% if params[:popup].present? %>
  </div>
  <div class="modal-footer">
    <%= link_to t(:delete), admin_product_content_path(@product_content), :method => :delete, data: {:confirm => "You sure?" } , :title => "Delete #{@product_content}",:class=>"btn btn-danger" %>
    <button type="button" class="btn btn-secondary content-edit"><%= t(:edit) %></button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t(:close) %></button>
  </div>
<% else %>
  </div>
  </div>
<% end %>
