<%= form_with(model: [:admin, sports_wear], local: true, data: { turbo: false }) do |form| %>
  <% if sports_wear.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <button type="button" class="btn-close close" data-bs-dismiss="alert" aria-label="Close"></button>
      <h2><%= pluralize(sports_wear.errors.count, "개의 문제") %>로 진행할 수 없습니다.</h2>
      <ul>
        <% sports_wear.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <div class="card-body">
      <div class="form-row">
        <%= form.fields_for :product do |p| %>
          <div class="col-12 col-lg-6 form-group">
            <%= p.label :title %>
            <%= p.text_field :title, :class => "form-control", :required => "required" %>
          </div>
          <div class="col-12 col-lg-6 form-group">
            <%= p.label :price %>
            <%= p.number_field :price, :class => "form-control" %>
          </div>
          <div class="col-12 col-lg-6 form-group">
            <%= form.label :order_no %>
            <%= form.number_field :order_no, :class => "form-control" %>
          </div>
      <% end %>
        <div class="col-12 col-lg-6 form-group">
          <%= form.label :gender %>
          <%= form.text_field :gender, :class => "form-control" %>
        </div>
      </div>
    </div>
  </div>
  <%= form.submit :class => 'btn btn-primary btn-block btn-lg' %>
<% end %>
