<div class="col-12">
<%=form_tag admin_sports_wears_path,{method:'get'} do %>
  <input type="hidden" name="search" value="1">
    <%
      search_params={search_detail:true}

      aa_class='nav-link'
      if @sports_wear_category.present?
        search_params[:category]=@sports_wear_category
      else
        aa_class+=' active'
      end
      %>
    <select name="category" class="form-control mobile-sub-menu d-block d-lg-none"<% if params[:search_form_show].present? %> style="display:block !important;"<% end %>>
      <option><%=t(:all) %></option>
      <% unless @sports_wear_categories.empty? %>
        <% @sports_wear_categories.each do |sports_wear_category|
          a_class=''

          if @sports_wear_category.present?
            if @sports_wear_category.id==sports_wear_category.id
              a_class=' selected'
            end
          end

          if @course_categories.length.zero?
            a_class=' disabled'
          end
        %>
          <option value="<%=url_for(:category=>sports_wear_category) %>"<%=a_class %>><%= sports_wear_category.title %></option>
        <% end %>
      <% end %>
    </select>
    <nav class="sub_nav d-none d-lg-block">
      <ul class="nav nav-pills">
        <li class="nav-item"><%=link_to t(:all),admin_courses_path,class: aa_class %></li>
        <% @sports_wear_categories.each do |sports_wear_category|
          a_class='nav-link'

          if @sports_wear_categories.present?
            if @sports_wear_categories.id==sports_wear_category.id
              a_class+=' active'
            end
          end

          if @sports_wear_categories.length.zero?
            a_class+=' disabled'
          end

        %>
          <li class="nav-item">
            <%=link_to url_for(category: sports_wear_category),{:class=>a_class} do %>
              <%=sports_wear_category.title %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  <%=link_to admin_sports_wears_path(search_params),id: "search-detail" do %><span class="material-icons">search</span><%=t(:search) %><% end  %>
  <!-- <%=submit_tag t(:search),class: 'btn btn-primary btn-block btn-search' %> -->
  <% end %>
</div>