<%= form_with(model: [:admin, counsel], local: true) do |form| %>
  <% if counsel.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <button type="button" class="btn-close close" data-bs-dismiss="alert" aria-label="Close"></button>
      <h2><%= pluralize(counsel.errors.count, "개의 문제") %>로 진행할 수 없습니다.</h2>
      <ul>
        <% counsel.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <div class="card-body">
      <div class="form-row">
        <div class="col-12 form-group">
          <%= form.label :title %>
          <%= form.text_field :title, :class => 'form-control', :required => 'required' %>
        </div>
        <%= form.fields_for :counsel_content do |c| %>
          <div class="col-12 form-group">
            <%= c.label :content %>
            <%= c.text_area :content, :class => 'form-control' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-submit mt-3">
    <%= form.submit :class => 'btn btn-primary btn-block btn-lg' %>
  </div>
<% end %>