<%= form_with(model: [:admin, counsel], local: true) do |form| %>
  <% if counsel.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <button type="button" class="btn-close close" data-bs-dismiss="alert" aria-label="Close"></button>
      <h2><%= pluralize(counsel.errors.count, "개의 문제") %>로 진행할 수 없습니다.</h2>
      <ul>
        <% counsel.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <div class="card-body">
      <div class="form-row">

        <div id="select_user_layer" class="col-12 form-group">
          <label><%= t(:selected_user) %></label>
          <div class="users_input">
            <% unless @users.count.zero? %>
              <% @users.each do |user| %>
                <% if message_send_type_id == 1 %>
            <span class="select_user
              <% if user.token.empty? %>text-danger
              <% else %>text-success
              <% end %>">
              <%= user.name %>
              <% if user.token.empty? %>
                (token empty)
              <% else %>
                <input type="hidden" name="user[]" value="<%= user.id %>"/>
              <% end %>
              <span class="text-danger">X</span>
            </span>
                <% else %>
            <span class="select_user
              <% if user.phone.empty? %>text-danger
              <% else %>text-success
              <% end %>">
              <%= user.name %>
              <% if user.phone.empty? %>
                (phone empty)
              <% else %>
                <input type="hidden" name="user[]" value="<%= user.id %>">
              <% end %>
              <span class="text-danger">X</span>
            </span>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div style="margin-top:10px"  data-controller="modal">
            <%= link_to t(:select_user), admin_user_select_path(:type => @message_type,'popup': true), { 'id' => 'user_select', :class => 'btn btn-secondary btn-modal', 'data-action'=>"click->modal#open" } %>&nbsp;&nbsp;
          </div>
        </div>

        <div class="col-12 form-group">
          <%= form.label :title %>
          <%= form.text_field :title, :class => 'form-control', :required => 'required' %>
        </div>
        <%= form.fields_for :counsel_content do |c| %>
          <div class="col-12 form-group">
            <%= c.label :content %>
            <%= c.text_area :content, :class => 'form-control' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-submit mt-3">
    <%= form.submit :class => 'btn btn-primary btn-block btn-lg' %>
  </div>
<% end %>