<section id="show-counsel" class="container">
  <div class="row">
    <h2 class="col-12"><%= t(:show_counsel) %></h2>
  </div>
  <div class="row">
    <%= render :partial => 'layouts/notice', :locals => { :errors => @counsel.errors, :notice => notice, :alert => alert } %>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header"><%=@counsel.title %></h3>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-xl-6">
      <%= link_to t(:link_list), admin_counsels_path, class: 'btn btn-secondary' %>
    </div>
    <div class="col-12 col-xl-6 text-end">
      <%= link_to t(:edit), edit_admin_counsel_path(@counsel), class: 'btn btn-secondary' %>
      <%= link_to t(:delete), admin_counsel_path(@counsel), class: 'btn btn-danger' %>
    </div>
  </div>
</section>
