<section id="orders">
  <div class="row">
    <div class="col-12">
      <h2 class="float-start"><%= t(:order_list) %></h2>
      <div class="float-end">
        <p class="summary">
          <span id="list_count" style="display:none"><%= @order_count %></span>
          <%= raw t(:there_are_n_orders, count: @order_count) %>
        </p>
      </div>
    </div>
    <div class="col-12">
      <table class="table table-bordered table-hover">
        <colgroup>
          <col style="width:100px">
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <% if can?(:update, Order) or can?(:delete, Order) %>
            <col<%= manage_width(Order) %>>
          <% end %>
        </colgroup>
        <thead class="thead-default">
        <tr>
          <th><%= t(:order_no, scope: [:activerecord, :attributes, :facility]) %></th>
          <th><%= t(:title, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:gender, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:quantity, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:start_no, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:use_not_set, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:price, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:content, scope: [:activerecord, :attributes, :product_content]) %></th>
          <th class="text-center"><%= t(:manage) %></th>
        </tr>
        </thead>
        <tbody>
        <% unless @orders.empty? %>
          <% @orders.each_with_index do |order, index| %>
            <tr>
              <td><%= order.id %></td>
              <td><%= link_to order.product.title, admin_order_path(order) %></td>
              <td class="text-end"></td>
              <td class="text-end"></td>
              <td class="text-end"></td>
              <td class="text-end">
              </td>
              <td class="text-end"><%= number_to_currency order.product.price %></td>
              <td class="text-center">
                <% if facility.product.product_content.present? %>
                  <%= link_to t(:show_content), admin_product_content_path(order.product.product_content), { class: 'btn btn-secondary btn-modal' } %>
                <% else %>
                  <%= link_to t(:new_content), new_admin_product_content_path(product_id: order.product), { class: 'btn btn-secondary btn-modal' } %>
                <% end %>
              </td>
              <% if can?(:update, order) or can?(:delete, order) %>
                <td class="text-center">
                  <% if can? :update, order %>
                    <%= link_to edit_admin_order_path(order), :class => "btn btn-secondary" do %>
                      <%= t(:edit) %>
                    <% end %>
                  <% end %>
                  <% if can? :delete, order %>
                    <%= link_to admin_order_path(order), :method => :delete, :data => { :confirm => t(:delete_cascade_confirm) }, :class => "btn btn-danger" do %>
                      <%= t(:delete) %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="9" class="text-center"><%= t(:no_data) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @orders %>
    </div>
    <% if can? :create, Order %>
      <div class="col-12">
        <%= link_to t(:add), new_admin_order_path, :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</section>
