<main id="home">
  <nav>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-4"><%=link_to trainers_path,{class: 'media p-3 rounded-3 h-100'}  do %>
          <span class="material-icons"> accessibility_new</span>
          <%=t(:trainer) %>
        <% end %>

          </li>
      <li class="col-12 col-md-6 col-lg-4"><%=link_to attendances_path,{class: 'media p-3 rounded-3 h-100'} do %>
          <span class="material-icons">today</span>
          <%=t(:attendance) %>
          <% end %>
          </li>
      <li class="col-12 col-md-6 col-lg-4"><%=link_to exercises_path,{class: 'media p-3 rounded-3 h-100'}  do %>
          <span class="material-icons">fitness_center</span><%=t(:exercise) %>
        <% end %>
      </li>
      <li class="col-12 col-md-6 col-lg-4"><%=link_to new_user_weight_path,{class: 'media p-3 rounded-3 h-100'}  do %>
        <span class="material-icons">monitor_weight</span>
          <%=t(:weight) %>
        <% end %>
      </li>
      <li class="col-12 col-md-6 col-lg-4"><%=link_to messages_path,{class: 'media p-3 rounded-3 h-100'}  do %>
          <span class="material-icons">chat</span>
          <%=t(:message) %>
        <% end %>
      </li>
      <li class="col-12 col-md-6 col-lg-4"><%=link_to pts_path,{class: 'media p-3 rounded-3 h-100'}  do %>
        <span class="material-icons">supervisor_account</span>
        <%=t(:pt) %>
        <% end %>
      </li>
    </ul>
  </nav>
</main>