<section id="rents">
  <div class="row">
    <div class="col-12">
      <h2 class="float-start"><%= t(:locker_rental_list) %></h2>
      <div class="float-end">
        <p class="summary">
          <span id="list_count" style="display:none"><%= @locker_rental_count %></span>
          <%= raw t(:there_are_n_locker_rentals, count: @locker_rental_count) %>
        </p>
      </div>
    </div>
    <div class="col-12">
      <table class="table table-bordered table-hover">
        <colgroup>
          <col style="width:100px">
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <% if can?(:update, LockerRental) or can?(:delete, LockerRental) %>
            <col<%= manage_width(LockerRental) %>>
          <% end %>
        </colgroup>
        <thead class="thead-default">
        <tr>
          <th><%= t(:order_no, scope: [:activerecord, :attributes, :facility]) %></th>
          <th><%= t(:title, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:gender, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:quantity, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:start_no, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:use_not_set, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:price, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:memo, scope: [:activerecord, :attributes, :locker]) %></th>
          <th class="text-center"><%= t(:manage) %></th>
        </tr>
        </thead>
        <tbody>
        <% unless @locker_rentals.empty? %>
          <% @locker_rentals.each_with_index do |rent, index| %>
            <tr>
              <td><%= rent.order_no %></td>
              <td><%= link_to locker.product.title, admin_locker_path(locker) %></td>
              <td class="text-right"><%= locker.gender %></td>
              <td class="text-right"><%= locker.quantity %></td>
              <td class="text-right"><%= locker.start_no %></td>
              <td class="text-right">
              </td>
              <td class="text-right"><%= locker.product.price %></td>
              <td class="text-center">memo</td>
              <% if can?(:update, rent) or can?(:delete, rent) %>
                <td class="text-center">
                  <% if can? :update, rent %>
                    <%= link_to edit_admin_locker_rental_path(rent), :class => "btn btn-secondary" do %>
                      <%= t(:edit) %>
                    <% end %>
                  <% end %>
                  <% if can? :delete, rent %>
                    <%= link_to admin_locker_rental_path(rent), :method => :delete, :data => { :confirm => t(:delete_cascade_confirm) }, :class => "btn btn-danger" do %>
                      <%= t(:delete) %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="9" class="text-center"><%= t(:no_data) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @locker_rentals %>
    </div>
    <% if can? :create, LockerRental %>
      <div class="col-12">
        <%= link_to t(:add), new_admin_locker_rental_path, :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</section>
