<div class="row admin-info">
  <div class="col-12 col-sm-6 p-3">
    <%= render "admin/admins/profile_photo", admin: @admin %>
  </div>
  <div class="col-12 col-sm-6 p-3">
    <ul style="list-style:none;margin:0;padding:0">
      <% unless @admin.present? %>
        <li class="mb-2"><span class="btn btn-sm btn-light btn-block btn-outline-info d-block">-</span>
        <li class="mb-2"><span class="btn btn-sm btn-light btn-block btn-outline-info d-block">-</span>
      <% else %>
        <li class="mb-2">
        <span class="btn btn-sm btn-light btn-block btn-outline-info d-block">
          <% if @admin.name.present? %>
          <%= @admin.name %>
          <% else %>
            -
          <% end  %>
        </span>
        </li>
        <li class="mb-2">
          <% if true %>
        <span class="btn btn-sm btn-light btn-block btn-outline-info d-block">
          <% if @admin.phone.present? %>
          <%= @admin.phone %>
          <% else  %>
          <%=t(:not_inserted) %>
          <% end  %>
        </span>
          <% else %>
        <span class="btn btn-sm btn-light btn-block btn-outline-info d-block">
          card-no
				</span>
          <% end %>
        </li>
        <li class="mb-2" data-controller="modal">
          <%=link_to t(:photo_shoot),new_admin_admin_picture_path(employee_id: @admin, type: 'employee'),{:target => '_blank', :class => 'btn btn-sm btn-outline-secondary btn-block btn-popup d-block', 'data-action'=>"click->modal#open"} %>
        </li>
        <li class="mb-2" data-controller="photo-upload">
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary btn-block d-block w-100"
            data-action="photo-upload#open">
            <%= t(:select_photo) %>
          </button>

          <%= form_with(model: [:admin,AdminPicture.new],
                        html: {style: 'display:none', multipart: true}) do |form| %>

            <%= form.hidden_field :admin_id, value: @admin.id %>
            <%= form.file_field :picture,
                                accept: "image/*",
                                data: {
                                  photo_upload_target: "fileInput",
                                  action: "change->photo-upload#submit"
                                } %>

            <%= form.submit t(:upload_photo),
                            class: 'btn btn-sm btn-secondary btn-block' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>