<section id="users" class="container">
  <div class="row">
    <%= render :partial => 'layouts/notice', :locals => {  :notice => notice, :alert => alert } %>
  </div>
  <div class="row">
    <h2 class="col-12 di-title"><%= t(:show_user) %></h2>
  </div>
  <div class="row">
    <%= render :partial => 'aside' %>
    <div class="col-12 col-lg-7 col-xl-8 col-xxl-9 user_sub">
      <section class="row user-content-section">
        <div class="col-12">
          <h2 class="di-title"><%= t(:user_detail) %></h2>
          <% if @user.nil? %>
            <%= render :partial => 'not_found' %>
          <% else %>
            <%= render :partial => 'nav' %>
            <%= render :partial => 'admin/users/content' %>
          <% end %>
        </div>
      </section>
      <%= render :partial => 'admin/home/summary' %>
    </div>
  </div>
</section>