<div class="row">
  <div class="col-12">
    <div id="blog-main" class="table-responsive">
      <table class="table table-bordered table-hover">
        <colgroup>
          <col style="width:100px">
          <col>
          <col>
          <col style="width:150px">
          <% if can?(:update, Locker) or can?(:delete, Locker) %>
            <col<%= manage_width(Locker) %>>
          <% end %>
        </colgroup>
        <thead class="thead-default">
        <tr>
          <th><%= t(:order_no, scope: [:activerecord, :attributes, :course]) %></th>
          <th><%= t(:title, scope: [:activerecord, :attributes, :course]) %></th>
          <th class="text-end"><%= t(:price, scope: [:activerecord, :attributes, :course]) %></th>
          <th class="text-center"><%= t(:content, scope: [:activerecord, :attributes, :product_content]) %></th>
          <th class="text-center"><%= t(:manage) %></th>
        </tr>
        </thead>
        <tbody data-controller="modal">
        <% unless @lockers.empty? %>
          <% @lockers.each_with_index do |locker, index| %>
            <tr>
              <td><%= locker.order_no %></td>
              <td><%= link_to locker.product.title, admin_locker_path(locker, category: params[:category]) %></td>
              <td class="text-end"><%=number_to_currency locker.product.price %></td>
              <td class="text-center">
                <% if locker.product.product_content.present? %>
                  <%= link_to t(:show_content), admin_product_content_path(locker.product.product_content), { class: 'btn btn-secondary', 'data-action'=>"click->modal#open"  } %>
                <% else %>
                  <%= link_to t(:new_content), new_admin_product_content_path(product_id: locker.product), { class: 'btn btn-secondary', 'data-action'=>"click->modal#open"  } %>
                <% end %>
              </td>
              <% if can?(:update, locker) or can?(:delete, locker) %>
                <td class="text-center">
                  <% if can? :update, locker %>
                    <%= link_to edit_admin_locker_path(locker), :class => "btn btn-secondary" do %>
                      <%= t(:edit) %>
                    <% end %>
                  <% end %>
                  <% if can? :delete, locker %>
                    <%= link_to admin_locker_path(locker), :method => :delete, :data => { :confirm => t(:delete_cascade_confirm) }, :class => "btn btn-danger" do %>
                      <%= t(:delete) %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="9" class="text-center"><%= t(:no_data) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div id="sl_bottom_menu">
        <%= paginate @lockers %>
      </div>
    </div>
  </div>
  <div class="col-12">
    <%=link_to t(:new_locker),new_admin_locker_path(category: params[:category]),class: 'btn btn-primary btn-large' %>
  </div>
</div>