<section id="lockers">
  <div class="row">
    <div class="col-12">
      <h2 class="float-left"><%= t(:locker_list) %></h2>
      <div class="float-right">
        <p class="summary">
          <span id="list_count" style="display:none"><%= @locker_count %></span>
          <%= raw t(:there_are_n_lockers, count: @locker_count) %>
        </p>
      </div>
    </div>
    <div class="col-12">
      <table class="table table-bordered table-hover">
        <colgroup>
          <col style="width:100px">
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <% if can?(:update, Locker) or can?(:delete, Locker) %>
            <col<%= manage_width(Locker) %>>
          <% end %>
        </colgroup>
        <thead class="thead-default">
        <tr>
          <th><%= t(:order_no, scope: [:activerecord, :attributes, :facility]) %></th>
          <th><%= t(:title, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:gender, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:quantity, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:start_no, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:use_not_set, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:price, scope: [:activerecord, :attributes, :facility]) %></th>
          <th class="text-center"><%= t(:content, scope: [:activerecord, :attributes, :product_content]) %></th>
          <th class="text-center"><%= t(:manage) %></th>
        </tr>
        </thead>
        <tbody>
        <% unless @lockers.empty? %>
          <% @lockers.each_with_index do |locker, index| %>
            <tr>
              <td><%= locker.order_no %></td>
              <td><%= link_to locker.product.title, admin_locker_path(locker) %></td>
              <td class="text-end"><%= locker.gender %></td>
              <td class="text-end"><%= locker.quantity %></td>
              <td class="text-end"><%= locker.start_no %></td>
              <td class="text-end">
              </td>
              <td class="text-end"><%= number_to_currency locker.product.price %></td>
              <td class="text-center">
                <% if locker.product.product_content.present? %>
                  <%= link_to t(:show_content), admin_product_content_path(locker.product.product_content), { class: 'btn btn-secondary btn-modal' } %>
                <% else %>
                  <%= link_to t(:new_content), new_admin_product_content_path(product_id: locker.product), { class: 'btn btn-secondary btn-modal' } %>
                <% end %>
              </td>
              <% if can?(:update, locker) or can?(:delete, locker) %>
                <td class="text-center">
                  <% if can? :update, locker %>
                    <%= link_to edit_admin_locker_path(locker), :class => "btn btn-secondary" do %>
                      <%= t(:edit) %>
                    <% end %>
                  <% end %>
                  <% if can? :delete, locker %>
                    <%= link_to admin_locker_path(locker), :method => :delete, :data => { :confirm => t(:delete_cascade_confirm) }, :class => "btn btn-danger" do %>
                      <%= t(:delete) %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="9" class="text-center"><%= t(:no_data) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @lockers %>
    </div>
    <% if can? :create, Locker %>
      <div class="col-12">
        <%= link_to t(:add), new_admin_locker_path, :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</section>
