<div id="groups" class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="float-left"><%= t(:group_list) %></h2>
      <div class="float-right">
        <p class="summary">
          <span id="list_count" style="display:none"><%= @group_count %></span>
          <%= raw t(:there_are_n_groups, count: @group_count) %>
        </p>
      </div>
    </div>
    <div class="col-12">
      <table class="table table-bordered table-hover">
        <colgroup>
          <col>
          <col style="width:150px">
          <col style="width:200px">
          <% if can?(:update, Group) or can?(:delete, Group) %>
            <col<%= manage_width(Group) %>>
          <% end %>
        </colgroup>
        <thead class="thead-default">
        <tr>
          <th><%= t(:title, scope: [:activerecord, :attributes, :group]) %></th>
          <th class="text-center"><%= t(:description, scope: [:activerecord, :attributes, :group]) %></th>
          <th class="text-center"><%= t(:created_at, scope: [:activerecord, :attributes, :group]) %></th>
          <th class="text-center"><%= t(:manage) %></th>
        </tr>
        </thead>
        <tbody>
        <% unless @groups.empty? %>
          <% @groups.each_with_index do |group, index| %>
            <tr>
              <td><%= link_to group.title,admin_group_path(group) %></td>
              <td class="text-center"><%=group.description %></td>
              <td class="text-center"><%=get_dt_format(group.created_at) %> </td>
              <% if can?(:update, group) or can?(:delete, group) %>
                <td class="text-center">
                  <% if can? :update, group %>
                    <%= link_to edit_admin_group_path(group), :class => "btn btn-secondary" do %>
                      <%= t(:edit) %>
                    <% end %>
                  <% end %>
                  <% if can? :delete, group %>
                    <%= link_to admin_group_path(group), :method => :delete, :data => { :confirm => t(:delete_cascade_confirm) }, :class => "btn btn-danger" do %>
                      <%= t(:delete) %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
        <tr>
          <td colspan="4" class="text-center"><%=t(:no_data) %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @groups %>
    </div>
    <% if can? :create, Group %>
    <div class="col-12">
      <%= link_to t(:add), new_admin_group_path, :class => "btn btn-primary" %>
    </div>
      <% end %>
  </div>
</div>
