<div class="row user-info">
  <div class="col-12 col-sm-6 p-3">
    <%= render "admin/users/profile_photo", user: @user %>
  </div>
  <div class="col-12 col-sm-6 p-3">
    <ul style="list-style:none;">
      <% unless @user.present? %>
      <li><span class="btn btn-sm btn-light btn-block btn-outline-info d-block">-</span>
      <li><span class="btn btn-sm btn-light btn-block btn-outline-info d-block">-</span>
      <% else %>
      <li>
        <span class="btn btn-sm btn-light btn-block btn-outline-info d-block">
          <% if @user.name.present? %>
          <%= @user.name %>
          <% else %>
            -
          <% end  %>
        </span>
      </li>
      <li>
        <% if true %>
        <span class="btn btn-sm btn-light btn-block btn-outline-info d-block">
          <% if @user.phone.present? %>
          <%= @user.phone %>
          <% else  %>
          <%=t(:not_inserted) %>
          <% end  %>
        </span>
        <% else %>
        <span class="btn btn-sm btn-light btn-block btn-outline-info d-block">
          card-no
				</span>
        <% end %>
      </li>
      <li data-controller="modal">
        <%=link_to t(:photo_shoot),new_admin_user_picture_path(user_id: @user),{:target => '_blank', :class => 'btn btn-sm btn-outline-secondary btn-block btn-popup d-block', 'data-action'=>"click->modal#open"} %>
      </li>
        <li data-controller="photo-upload">
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary btn-block d-block w-100"
            data-action="photo-upload#open">
            <%= t(:select_photo) %>
          </button>

          <%= form_with(model: [:admin,UserPicture.new], local: true,
                        html: {style: 'display:none', multipart: true}) do |form| %>

            <%= form.hidden_field :user_id, value: @user.id %>
            <%= form.file_field :picture,
                                accept: "image/*",
                                data: {
                                  photo_upload_target: "fileInput",
                                  action: "change->photo-upload#submit"
                                } %>

            <%= form.submit t(:upload_photo),
                            class: 'btn btn-sm btn-secondary btn-block' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>