<section id="edit-user">
  <div class="row">
    <h2 class="col-12 di-title"><%= t(:edit_user) %></h2>
  </div>
  <div class="row">
    <%= render :partial => 'admin/home/aside' %>
    <div class="col-12 col-lg-7 col-xl-8 col-xxl-9 user_sub">
      <section class="row">
        <div class="col-12">
          <h2 class="di-title"><%= t(:user_detail) %></h2>
          <% if @user.nil? %>
            <%= render :partial => 'admin/home/not_found' %>
          <% else %>
            <%= render :partial => 'nav' %>
            <%= render 'form', user: @user %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</section>
