<section id="notices" class="container">
  <div class="row">
      <h2 class="col-12 col-lg-6"><%= t(:notice_list) %></h2>
      <div class="col-12 col-lg-6 text-end">
        <p class="summary">
          <span id="list_count" style="display:none"><%= @notice_count %></span>
          <%= raw t(:there_are_n_notices, count: @notice_count) %>
        </p>
      </div>
  </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered table-hover">
          <colgroup>
            <col style="width:10%"/>
            <col>
            <col style="width:100px">
            <col style="width:220px">
          </colgroup>
          <thead class="thead-default">
          <tr>
            <th><%= t(:admin, scope: [:activerecord, :attributes, :notice]) %></th>
            <th><%= t(:title, scope: [:activerecord, :attributes, :notice]) %></th>
            <th class="text-end"><%= t(:view_count, scope: [:activerecord, :attributes, :notice]) %></th>
            <th class="text-center"><%= t(:created_at, scope: [:activerecord, :attributes, :notice]) %></th>
          </tr>
          </thead>
          <tbody>
          <% unless @notices.empty? %>
            <% @notices.each do |notice| %>
              <tr>
                <td>
                  <% if notice.admin %>
                  <%= notice.admin.name %>
                    <% else %>
                  -
                  <% end  %>
                    </td>
                <td><%= link_to notice.title, admin_notice_path(notice) %></td>
                <td class="text-end"><%= notice.impressionist_count(:filter => :ip_address) %></td>
                <td class="text-end text-secondary"><%=get_dt_format notice.created_at.to_date %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4"><%= t(:no_data) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <div id="sl_bottom_menu">
          <%= link_to t(:add), new_admin_notice_path, :class => "btn btn-primary" %>
          <%= paginate @notices %>
        </div>
      </div>
    </div>
</section>
