<section id="show-notice" class="container">
  <div class="row">
    <h2 class="col-12"><%= t(:show_notice) %></h2>
  </div>
  <div class="row">
    <%= render :partial => 'layouts/notice', :locals => { :errors => @notice.errors, :notice => notice, :alert => alert } %>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header"><%=@notice.title %></h3>
        <div class="card-body">
          <div>
            <label><%= t(:content, scope: [:activerecord, :attributes, :notice_content]) %></label>
            <p><%=@notice.notice_content.content %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-6">
      <%= link_to t(:link_list), admin_notices_path, class: 'btn btn-secondary' %>
    </div>
    <div class="col-12 col-xl-6 text-right">
      <%= link_to t(:edit), edit_admin_notice_path(@notice), class: 'btn btn-secondary' %>
      <%= link_to t(:delete), admin_notice_path(@notice), class: 'btn btn-danger' %>
    </div>
  </div>
</section>
