<%= form_with(model: [:admin, course]) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <button type="button" class="btn-close close" data-bs-dismiss="alert" aria-label="Close"></button>
      <h2><%= pluralize(course.errors.count, "개의 문제") %>로 진행할 수 없습니다.</h2>
      <ul>
        <% course.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% unless CourseCategory.where(:branch_id => current_user.branch_id, :enable => true).count.zero? %>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <%= form.fields_for :product do |p| %>
              <%= p.label :product_category_id %>
              <%  selected_category =
                    p.object.product_category_id.presence ||
                    params[:category].presence %>
              <%= p.select :product_category_id, options_from_collection_for_select(CourseCategory.where(:branch_id => session[:branch_id], :enable => true), 'id', 'title', selected_category), { :include_blank => t(:select_course_category) }, { :class => "form-control" } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="card mt-3">
    <div class="card-body">
      <div class="row">
        <%= form.fields_for :product do |p| %>
          <div class="col-12 col-lg-6 form-group">
            <div class="form-group">
              <%= p.label :title %>
              <%= p.text_field :title, :class => "form-control", :required => "required" %>
            </div>
          </div>
          <div class="col-12 col-lg-6 form-group">
            <%= p.label :price %>
            <%= p.number_field :price, :class => "form-control" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= form.fields_for :product do |p| %>
    <%= render :partial => 'admin/product_contents/form_content', locals: { f: p } %>
  <% end %>
  <div class="form-submit mt-3">
  <%= form.submit :class => 'btn btn-primary btn-block btn-lg' %>
  </div>
<% end %>
