<%
  render_templete='index_default'

  if session[:course_list_type].present?
    if session[:course_list_type]=='list'
      render_templete='index_list'
    end
  end

%>
<div id="courses">
  <div class="row">
    <%= render :partial => 'layouts/notice', :locals=>{:errors=>nil, :notice=>notice,:alert=>alert} %>
  </div>
  <div class="row">
    <% if session[:search_detail].present? %>
      <%=render '/admin/courses/search_form_detail' %>
    <%  else %>
      <%=render '/admin/courses/search_form' %>
    <% end %>
    <div class="col-12">
      <ul class="type-selector">
        <li><%=link_to url_for(list_type: 'list') do %><span class="material-icons">view_list</span><% end %></li>
        <li><%=link_to url_for(list_type: 'module') do %><span class="material-icons">view_module</span><% end %></li>
      </ul>
    </div>
    <div class="col-12">
      <h2 class="float-start hidden-title"><%= t(:course,scope: [:activerecord,:models]) %></h2>
      <div class="float-end">
        <p class="summary text-end">
          <span id="list_count" style="display:none"><%= @course_count %></span>
          <%= raw t(:there_are_n_courses, count: @course_count) %>
        </p>
      </div>
    </div>
  </div>
  <%=render render_templete %>
</div>
