<section id="show-course" class="container">
  <div class="row">
    <h2 class="col-12"><%= t(:show_course_category) %></h2>
  </div>
  <div class="row">
    <%= render :partial => 'layouts/notice', :locals => { :errors => @course.errors, :notice => notice, :alert => alert } %>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header"><%=@course.product.title %></h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-6">
      <%= link_to t(:link_list), admin_courses_path, class: 'btn btn-secondary' %>
    </div>
    <div class="col-12 col-xl-6 text-right">
      <%= link_to t(:edit), edit_admin_course_path(@course), class: 'btn btn-secondary' %>
      <%= link_to t(:delete), admin_course_path(@course), class: 'btn btn-danger' %>
    </div>
  </div>
</section>
