<section id="show-course">
  <div class="row">
    <h2 class="col-12"><%= t(:show_course_category) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header"><%=@course.product.title %></h3>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-xl-6">
      <%= link_to t(:link_list), admin_courses_path(category: params[:category]), class: 'btn btn-secondary' %>
    </div>
    <div class="col-12 col-xl-6 text-end">
      <%= link_to t(:edit), edit_admin_course_path(@course), class: 'btn btn-secondary' %>
      <%= link_to t(:delete), admin_course_path(@course),  data: { turbo_method: :delete, turbo_confirm: t(:delete_cascade_confirm) }, class: 'btn btn-danger' %>
    </div>
  </div>
</section>
