<section id="course-categories" class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="float-left"><%= t(:course_category_list) %></h2>
      <div class="float-right">
        <p class="summary">
          <span id="list_count" style="display:none"><%= @course_category_count %></span>
          <%= raw t(:there_are_n_course_categories, count: @course_category_count) %>
        </p>
      </div>
    </div>
    <div class="col-12">
      <table class="table table-bordered table-hover">
        <colgroup>
          <col style="width:100px">
          <col>
          <col>
          <col style="width:150px">
          <col style="width:200px">
          <% if can?(:update, CourseCategory) or can?(:delete, CourseCategory) %>
            <col<%= manage_width(CourseCategory) %>>
          <% end %>
        </colgroup>
        <thead class="thead-default">
        <tr>
          <th><%= t(:order_no, scope: [:activerecord, :attributes, :product_category]) %></th>
          <th><%= t(:title, scope: [:activerecord, :attributes, :product_category]) %></th>
          <th class="text-center"><%= t(:products_count, scope: [:activerecord, :attributes, :product_category]) %></th>
          <th class="text-center"><%= t(:content, scope: [:activerecord, :attributes, :product_category_content]) %></th>
          <th class="text-center"><%= t(:created_at, scope: [:activerecord, :attributes, :product_category]) %></th>
          <th class="text-center"><%= t(:manage) %></th>
        </tr>
        </thead>
        <tbody>
        <% unless @course_categories.empty? %>
          <% @course_categories.each_with_index do |course_category, index| %>
            <tr>
              <td><%= course_category.order_no %></td>
              <td><%= link_to course_category.title,admin_course_category_path(course_category) %></td>
              <td class="text-right"><%= course_category.products_count %></td>
              <td class="text-right"></td>
              <td class="text-right text-secondary"><%=get_dt_format course_category.created_at.to_date %></td>
              <% if can?(:update, course_category) or can?(:delete, course_category) %>
                <td class="text-center">
                  <% if can? :update, course_category %>
                    <%= link_to edit_admin_course_category_path(course_category), :class => "btn btn-secondary" do %>
                      <%= t(:edit) %>
                    <% end %>
                  <% end %>
                  <% if can? :delete, course_category %>
                    <%= link_to admin_course_category_path(course_category), :method => :delete, :data => { :confirm => t(:delete_cascade_confirm) }, :class => "btn btn-danger" do %>
                      <%= t(:delete) %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="5" class="text-center"><%=t(:no_data) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @course_categories %>
    </div>
    <% if can? :create, CourseCategory %>
    <div class="col-12">
      <%= link_to t(:add), new_admin_course_category_path, :class => "btn btn-primary" %>
    </div>
      <% end %>
  </div>
</section>
